body {
  background-color: #ff9800;
  color: #fff;
  margin: 0;
  font-family: 'Bellota', cursive;
}
a{text-decoration: none; color: inherit;}

#container {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: ;
}

#form {
  display: inline-block;
  width: 50%;
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  text-align: center;
  display: inline-block;

}
#textBox {
  margin: 0;
  padding: 0;
  float: left;
  width: 70%;
  display: inline-block;
  height: 35px;
  box-sizing: border-box;
  border-radius: 10px 0 0 10px;
  outline: none;
  border : none;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Bellota', cursive;
}
body{
  height: 100%;
  position: absolute;
  width: 100%;
}

#submitButton{
  margin: 0;
  padding: 0;
  float: left;
  width: 120px;
  height: 35px;
  border-radius: 0 10px 10px 0;
  outline: none;
  border:none;
  font-family: 'Bellota', cursive;
  background-color: #da085f;
  font-weight: bolder;
  font-size: larger;
  color:whitesmoke;
  text-shadow: 1px 1px 2px whitesmoke;
}

#footer{
  margin: 0;
  padding: 0;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
